<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= viewTitle %></title>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 110 110'><text y='90px' font-size='90px'>🔌</text></svg>">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
    <script>window.BoxelModes = {}</script>
  </head>
  <body>
    <div class="global">
      <h1 class="title js-title">
        <span class="title__text"><%= viewTitle %></span>
        <div class="title__spinner"></div>
      </h1>
      <% Object.keys(modes).forEach((modeId) => { %>
        <div class="mode js-mode" data-mode="<%= modeId %>">
          <h2 class="mode__title">
            <%= modes[modeId].getTitle() %>
            <span class="mode__description">
              <%= modes[modeId].getDescription() %>
            </span>
            <button class="button button--orange mode__set js-mode-set" data-mode="<%= modeId %>">Set</button>
          </h2>
          <div class="mode__inner">
            <%- include('modes/' + modeId + '/ui'); %>
          </div>
        </div>
      <% }) %>
      <div class="footer-buttons">
        <button class="button button--grey js-shutdown">Shutdown</button>
        <a class="button button--grey" href="/viewstate">View state</a>
      </div>
      <div class="footer">
        <a class="footer__link" href="https://github.com/johansatge/boxel">Source code</a>
        <br>
        Made with ♥ in Antibes
      </div>
    </div>
    <script src="/static/ui.js"></script>
    <script>
      window.BoxelInitUi()
    </script>
  </body>
</html>
