<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= viewTitle %></title>
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <p>Current mode: <em><%= currentMode.getTitle() %></em></p>
    <p><button class="js-shutdown">Shutdown</button></p>
    <ul>
      <% modes.forEach(function(mode) { %>
        <li>
          <a href="/setmode/<%= mode.getId() %>"><%= mode.getTitle() %></a>
        </li>
      <% }) %>
    </ul>
    <p>
      <%- include('modes/' + currentMode.getId() + '/ui'); %>
    </p>
    <script>
      function setState(params) {
        var qs = Object.keys(params).reduce((arr, param) => {
          arr.push(param + '=' + encodeURIComponent(params[param]))
          return arr
        }, []).join('&')
        fetch('/setstate?' + qs)
          .then((rawResponse) => {
            return rawResponse.json()
          })
          .then((response) => {
            if (typeof didSetState === 'function') {
              didSetState(response)
            }
          })
      }
      document.querySelector('.js-shutdown').addEventListener('click', (evt) => {
        const confirmed = confirm('Are you sure?')
        if (confirmed) {
          evt.currentTarget.disabled = true
          fetch('/shutdown')
        }
      })
    </script>
  </body>
</html>
